@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: "MADE-TOMMY-Regular", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  h1{
    @apply text-4xl font-MADE-TOMMY-Medium py-10;
  }
  @font-face {
    font-family: "MADE-TOMMY-Regular";
    src: url('/fonts/MADETOMMY/MADE-TOMMY-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: "MADE-TOMMY-Medium";
    src: url('/fonts/MADETOMMY/MADE-TOMMY-Medium.otf') format('opentype');
  }
}
@layer components{
  .skills-item {
    @apply outline outline-2 flex min-w-[210px] lg:basis-skills-lg basis-skills-md items-center align-middle justify-center p-4 cursor-pointer font-MADE-TOMMY-Regular shadow-md shadow-slate-600 hover:scale-110 ease-in duration-150;
  }

  .mobile-nav{
    @apply min-w-[200px] flex justify-center items-center bg-white m-2 p-4 text-xl font-MADE-TOMMY-Medium cursor-pointer hover:scale-110 ease-in duration-150 ;
  }

  .desktop-nav{
    @apply w-[8em] flex justify-center items-center mx-1 p-3 text-lg font-MADE-TOMMY-Medium bg-white/80 hover:bg-gray-200 ease-in duration-150;
  }
  
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}